bin/
obj/
.vs/
*.user
*.suo
*.lscache
*.db
TestResults/
artifacts/
.env
.devcontainer/.env

*.log
pnpm-store/
.pnpm-store/
.pnpm-debug.log
.pnpm-debug.*.log
.pnpm/
node_modules/
frontend/node_modules/
frontend/.pnpm-store/
frontend/pnpm-store/


*.lscache